In [1]:
import pandas as pd

Загружаем таблицу с данными

In [10]:
df = pd.read_csv('DataScienceJobs.csv')

In [11]:
df # получение всей таблицы

,name,address,experience,skills,sal_from,sal_to
0,Начинающий специалист по работе с нейросетям,Санкт-Петербург,От 1 года до 3 лет,"Разработка технических заданий, Python, Сбор и...",55000,60000
1,Junior Data Engineer,Нижний Новгород,От 1 года до 3 лет,"SQL, jvm, Hadoop",150000,200000
2,ML-инженер,Москва,Нет опыта,"Знания математики, алгоритмов, структур данных...",150000,170000
3,Data Scientist,Москва,От 1 года до 3 лет,"Python, Machine Learning, Математическое модел...",180000,200000
4,Python Developer (Junior),Томск,От 1 года до 3 лет,"Python, Git, ООП, MySQL",60000,110000
...,...,...,...,...,...,...
355,Ведущий специалист по разработке скоринговых карт,Новосибирск,От 1 года до 3 лет,"SQL, Sas, Базы данных, Скоринговая карта, База...",55000,105000
356,Lead data scientist (Анализ цены и Trade in),Москва,От 3 до 6 лет,"PyData: Pandas, NumPy, SciPy, scikit-learn, py...",180000,200000
357,Senior Data Scientist,Томск,Более 6 лет,"SQL, Анализ данных, A/B тесты, LTV prediction,...",200000,210000
358,Data engineer (middle+),Новосибирск,От 3 до 6 лет,"Linux, ETL, Apache Kafka, Apache Spark, Apache...",150000,180000
359,"Автор дисциплины ""Задачи NLP в машинном обучении""",Нижний Новгород,От 3 до 6 лет,"NLP, ML, Data Science, Обучение и развитие, На...",270000,320000

In [12]:
df.head() # получение первых пяти строк таблицы

,name,address,experience,skills,sal_from,sal_to
0,Начинающий специалист по работе с нейросетям,Санкт-Петербург,От 1 года до 3 лет,"Разработка технических заданий, Python, Сбор и...",55000,60000
1,Junior Data Engineer,Нижний Новгород,От 1 года до 3 лет,"SQL, jvm, Hadoop",150000,200000
2,ML-инженер,Москва,Нет опыта,"Знания математики, алгоритмов, структур данных...",150000,170000
3,Data Scientist,Москва,От 1 года до 3 лет,"Python, Machine Learning, Математическое модел...",180000,200000
4,Python Developer (Junior),Томск,От 1 года до 3 лет,"Python, Git, ООП, MySQL",60000,110000

In [13]:
df.tail() # получение последних пяти строк таблицы

,name,address,experience,skills,sal_from,sal_to
355,Ведущий специалист по разработке скоринговых карт,Новосибирск,От 1 года до 3 лет,"SQL, Sas, Базы данных, Скоринговая карта, База...",55000,105000
356,Lead data scientist (Анализ цены и Trade in),Москва,От 3 до 6 лет,"PyData: Pandas, NumPy, SciPy, scikit-learn, py...",180000,200000
357,Senior Data Scientist,Томск,Более 6 лет,"SQL, Анализ данных, A/B тесты, LTV prediction,...",200000,210000
358,Data engineer (middle+),Новосибирск,От 3 до 6 лет,"Linux, ETL, Apache Kafka, Apache Spark, Apache...",150000,180000
359,"Автор дисциплины ""Задачи NLP в машинном обучении""",Нижний Новгород,От 3 до 6 лет,"NLP, ML, Data Science, Обучение и развитие, На...",270000,320000

In [14]:
df.sample(10) # получение случайных 10 строк из датафрейма

,name,address,experience,skills,sal_from,sal_to
55,Data Scientist,Казань,От 3 до 6 лет,Python,55000,85000
133,Data Scientist,Москва,От 3 до 6 лет,Уверенное владение Python. Опыт работы с библи...,280000,330000
170,Data Scientist (Алгоритмы оптимизации),Москва,От 3 до 6 лет,"Python, C++, Математическая статистика, Методы...",150000,220000
81,Data Scientist,Москва,От 3 до 6 лет,"уверенное знание Python (библиотеки: NumPy, Pa...",90000,140000
91,Data Scientist (nlp),Москва,От 3 до 6 лет,"ML, Python, CatBoost, STT, ASR, LabelStudio",150000,180000
247,Data Scientist (модели PD/LGD/EAD),Нижний Новгород,От 1 года до 3 лет,"Python, ML, Data Science, Анализ данных",100000,110000
146,Data Engineer,Екатеринбург,От 1 года до 3 лет,"Spark, Big Data, Hadoop, Базы данных, Python",300000,350000
344,"DS NLP (LLM), Senior",Москва,От 3 до 6 лет,"Python, SQL, PySpark, Pandas, PyTorch, RecBole...",85000,115000
54,Cпециалист-исследователь в области обработки а...,Нижний Новгород,От 1 года до 3 лет,"Python, PyTorch, NLP, NER, Machine Learning",130000,160000
89,Middle/Senior Data Scientist,Москва,От 3 до 6 лет,"Python, bash, git, SQL, Hadoop",180000,210000

Описание показателей: <br>name - название вакансии <br>address - город <br>experience - требуемый опыт <br>skills - требуемые навыки <br>sal_from - нижний порог зарплаты <br>sal_to - верхний порог зарплаты

In [15]:
df.shape # кол-во строк и столбцов

(360, 6)

In [16]:
df.info() # сводная инофрмация о таблице

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        360 non-null    object
 1   address     360 non-null    object
 2   experience  360 non-null    object
 3   skills      360 non-null    object
 4   sal_from    360 non-null    int64
 5   sal_to      360 non-null    int64
dtypes: int64(2), object(4)
memory usage: 17.0+ KB

Таблица выше: 
1. `<class 'pandas.core.frame.DataFrame'>` – объект DataFrame
2. `RangeIndex: 360 entries, 0 to 359` – в таблице 360 строк с индексами от 0 до 359
3. `Data columns (total 6 columns):` – в таблице 6 колонок
4. После выводится небольшая таблица с информацией о названии колонки (`Column`), количестве непустых ячеек в колонке (`Non-Null Count`), а также тип данных (`Dtype`)
5. `dtypes: int64(2), object(4)` – сводка по количеству столбцов с разными типами данных
6. `memory usage: 17.0+ KB` – сколько памяти занимает таблица

Обращение к данным в таблице

`датафрейм['столбец']` или `датафрейм.столбец` – обращение к одному столбцу

`датафрейм[['столбец 1', 'столбец 2', ...]]` – обращение к нескольким столбцам

In [17]:
df['name']
# или
df.name

0           Начинающий специалист по работе с нейросетям
1                                   Junior Data Engineer
2                                             ML-инженер
3                                         Data Scientist
4                              Python Developer (Junior)
                             ...
355    Ведущий специалист по разработке скоринговых карт
356         Lead data scientist (Анализ цены и Trade in)
357                                Senior Data Scientist
358                              Data engineer (middle+)
359    Автор дисциплины "Задачи NLP в машинном обучении"
Name: name, Length: 360, dtype: object

In [21]:
df[['name', 'address']]

                                                  name          address
0         Начинающий специалист по работе с нейросетям  Санкт-Петербург
1                                 Junior Data Engineer  Нижний Новгород
2                                           ML-инженер           Москва
3                                       Data Scientist           Москва
4                            Python Developer (Junior)            Томск
..                                                 ...              ...
355  Ведущий специалист по разработке скоринговых карт      Новосибирск
356       Lead data scientist (Анализ цены и Trade in)           Москва
357                              Senior Data Scientist            Томск
358                            Data engineer (middle+)      Новосибирск
359  Автор дисциплины "Задачи NLP в машинном обучении"  Нижний Новгород

[360 rows x 2 columns]

Обращение к строкам

`датафрейм.loc['название строки' или индекс]` – обращение к строке по названию \
`датафрейм.iloc[индекс]` – обращение к строке по индексу (считается с 0)

In [25]:
df.loc[0]

name               Начинающий специалист по работе с нейросетям
address                                         Санкт-Петербург
experience                                   От 1 года до 3 лет
skills        Разработка технических заданий, Python, Сбор и...
sal_from                                                  55000
sal_to                                                    60000
Name: 0, dtype: object

In [26]:
df.iloc[0]

name               Начинающий специалист по работе с нейросетям
address                                         Санкт-Петербург
experience                                   От 1 года до 3 лет
skills        Разработка технических заданий, Python, Сбор и...
sal_from                                                  55000
sal_to                                                    60000
Name: 0, dtype: object

Обращение к ячейкам

`датафрейм['столбец'][индекс строки]` или `датафрейм.loc[индекс]['столбец']`

In [27]:
df['name'][0]

'Начинающий специалист по работе с нейросетям'

In [28]:
df.loc[0]['name']

'Начинающий специалист по работе с нейросетям'

In [29]:
type(df['name'][0])

str

In [30]:
df['sal_from'][0] # нижняя граница зарплаты в первой вакансии

np.int64(55000)

In [31]:
type(df['sal_from'][0])

numpy.int64

Фильтрация данных

Фильтрация по столбцу

`датафрейм[датафрейм['столбец'] <оператор сравнения> условие]`

|Оператор|Значение|
|:---:|:---:|
|==|равно|
|!=|не равно|
|>|больше чем|
|<|меньше чем|
|>=|больше или равно чем|
|<=|меньше или равно чем|

In [34]:
df[df['address'] == 'Москва']

,name,address,experience,skills,sal_from,sal_to
2,ML-инженер,Москва,Нет опыта,"Знания математики, алгоритмов, структур данных...",150000,170000
3,Data Scientist,Москва,От 1 года до 3 лет,"Python, Machine Learning, Математическое модел...",180000,200000
5,Data Scientist (NLP),Москва,От 3 до 6 лет,"Python, NLP, Artificial intelligence, Искусств...",200000,400000
6,Специалист по работе с нейронными сетями\Promt...,Москва,От 1 года до 3 лет,Большой интерес к инновациям в области медиа и...,280000,330000
7,Junior / Middle ML Engineer (Data Scientist),Москва,От 1 года до 3 лет,"Python, Pandas, NumPy, Transformers, openai, L...",170000,180000
...,...,...,...,...,...,...
349,Руководитель направления Data Science,Москва,От 3 до 6 лет,"Python, SQL",280000,350000
351,Data Scientist Teamlead NLP,Москва,От 3 до 6 лет,"SQL, Python, PyTorch, Docker, Hadoop, DVC, git",200000,270000
352,Medical foundation model research data scienti...,Москва,От 3 до 6 лет,PyTorch,180000,250000
354,Senior Data Scientist CV (Generative design),Москва,От 3 до 6 лет,"Machine Learning, ML, Data Science, DS, Машинн...",100000,150000
356,Lead data scientist (Анализ цены и Trade in),Москва,От 3 до 6 лет,"PyData: Pandas, NumPy, SciPy, scikit-learn, py...",180000,200000

In [39]:
df[df['sal_from'] >= 300000]

,name,address,experience,skills,sal_from,sal_to
9,Senior Machine Learning Engineer,Москва,От 3 до 6 лет,"Machine Learning, Python, numpy, pandas, matpl...",350000,570000
19,ML-разработчик/Data Scientist,Санкт-Петербург,От 1 года до 3 лет,"Python, Linux, NLP, ML, TensorFlow, PyTorch",300000,350000
35,Data Scientist,Москва,От 1 года до 3 лет,"ML, Python, Machine Learning",300000,320000
42,Эксперт по моделированию и анализу данных / Da...,Москва,От 1 года до 3 лет,"SQL, Git, Python, Анализ данных, Моделирование",300000,310000
49,"ML разработчик, B2B",Московская область,От 3 до 6 лет,"Python, Pyspark, Финансы, IT",300000,320000
68,ML-разработчик,Екатеринбург,От 3 до 6 лет,"Python, Machine Learning, RecSys, C++, ML, Dat...",300000,330000
79,Data Scientist,Томск,От 3 до 6 лет,"Spark, Hive, MLFlow, ML, AirFlow, MLOps, Forec...",300000,370000
88,Data Engineer,Новосибирск,От 3 до 6 лет,"SQL, Python, ETL, ELT, СУБД, Airflow, dbt, Cli...",300000,370000
94,Senior Data Scientist,Санкт-Петербург,От 3 до 6 лет,"SQL, Python, Pandas, ML, machine learning, обу...",300000,350000
116,ML Engineer (Рекомендательные системы),Новосибирск,От 3 до 6 лет,"RecSys, рекомендательная система, ml, Python",300000,330000
118,Data Scientist (middle),Сочи,От 1 года до 3 лет,"Python, SQL, API",300000,370000
119,Data Scientist,Казань,От 3 до 6 лет,"Опыт Python разработчика (pytorch, opencv), зн...",300000,330000
123,Аналитик данных,Владивосток,От 1 года до 3 лет,"Анализ данных, Умение работать в коллективе, P...",300000,320000
132,Middle Python Developer,Москва,От 1 года до 3 лет,Уверенное владение R или Python (pandas/numpy/...,300000,320000
146,Data Engineer,Екатеринбург,От 1 года до 3 лет,"Spark, Big Data, Hadoop, Базы данных, Python",300000,350000
147,ML Инженер,Санкт-Петербург,От 3 до 6 лет,высокий уровень знания Python; умение декомпоз...,300000,370000
157,Team-Lead Data Science,Москва,От 3 до 6 лет,"Python, Docker, Kubernetes, RESTAPI",300000,350000
171,Data Engineer,Москва,От 1 года до 3 лет,"Scala / Python Hadoop (hdfs, hive) Apache Spar...",300000,310000
192,Senior Data Scientist,Москва,От 1 года до 3 лет,"SQL, MS SQL, Big Data, Python, Spark, Hadoop, ...",300000,350000
204,Senior Data Scientist,Екатеринбург,От 3 до 6 лет,"Python, SQL, Spark, Базы данных, PHP, ClickHou...",330000,450000
207,ML&Optimization engineer,Москва,От 3 до 6 лет,ML и DL (Python),300000,350000
208,Middle Computer Vision Engineer,Москва,От 1 года до 3 лет,"NumPy, Pandas, OpenCV, Sklearn, Matplotlib, CI/CD",300000,310000
213,Специалист в группу технического сопровождения,Москва,От 1 года до 3 лет,"MS SQL, PostgreSQL, API, Базы данных, Техничес...",300000,350000
220,Data Engineer,Московская область,От 3 до 6 лет,"PostgreSQL, ETL, DWH, ClickHouse",300000,330000
238,ML Engineer RecSyS,Санкт-Петербург,От 3 до 6 лет,"Python, SQL",300000,350000
254,Lead Data Engineer,Москва,От 3 до 6 лет,"Greenplum (Arenadata DB), PostgreSQL, Clickhouse",300000,320000
265,Data Scientist (Scoring),Москва,От 3 до 6 лет,Опыт построения моделей с помощью классическог...,300000,310000
281,ML Engineer,Москва,От 3 до 6 лет,"Python, Docker, SCALA, Hadoop, Big Data, Spark...",300000,350000
282,Системный архитектор (Data Warehouse),Новосибирск,От 3 до 6 лет,"PostgreSQL, MS SQL Server, DWH, Power BI, Базы...",300000,330000
294,Data Scientist,Москва,От 3 до 6 лет,"Scikit-learn, TensorFlow, XGBoost, CatBoost",300000,370000
303,Руководитель группы машинного обучения,Москва,От 3 до 6 лет,"Python, Управление командой",300000,370000
305,Стажер - разработчик скоринговых карт,Санкт-Петербург,Нет опыта,"SQL, Python, Базы данных, Скоринговая карта, Б...",300000,370000
320,Senior MLE/DS в команду рекомендаций,Москва,От 3 до 6 лет,"ML (GBDT, LR), Kotlin",300000,500000
326,Ведущий Data Engineer / Lead (Java),Санкт-Петербург,Более 6 лет,"Java/Scala, Golang, Python",300000,330000
333,Senior Data science expert в Центр технологий ИИ,Новосибирск,От 3 до 6 лет,"Python, SQL, алгоритмы ML, Pandas, Sklearn, Nu...",300000,400000

In [40]:
df[df['sal_to'] == 500000]

,name,address,experience,skills,sal_from,sal_to
320,Senior MLE/DS в команду рекомендаций,Москва,От 3 до 6 лет,"ML (GBDT, LR), Kotlin",300000,500000

Фильтрация по нескольким условиям

`&` - и \
`|` - или

Вакансии в Москве или Казани

In [42]:
df[(df['address'] == 'Москва') | (df['address'] == 'Казань')]

,name,address,experience,skills,sal_from,sal_to
2,ML-инженер,Москва,Нет опыта,"Знания математики, алгоритмов, структур данных...",150000,170000
3,Data Scientist,Москва,От 1 года до 3 лет,"Python, Machine Learning, Математическое модел...",180000,200000
5,Data Scientist (NLP),Москва,От 3 до 6 лет,"Python, NLP, Artificial intelligence, Искусств...",200000,400000
6,Специалист по работе с нейронными сетями\Promt...,Москва,От 1 года до 3 лет,Большой интерес к инновациям в области медиа и...,280000,330000
7,Junior / Middle ML Engineer (Data Scientist),Москва,От 1 года до 3 лет,"Python, Pandas, NumPy, Transformers, openai, L...",170000,180000
...,...,...,...,...,...,...
349,Руководитель направления Data Science,Москва,От 3 до 6 лет,"Python, SQL",280000,350000
351,Data Scientist Teamlead NLP,Москва,От 3 до 6 лет,"SQL, Python, PyTorch, Docker, Hadoop, DVC, git",200000,270000
352,Medical foundation model research data scienti...,Москва,От 3 до 6 лет,PyTorch,180000,250000
354,Senior Data Scientist CV (Generative design),Москва,От 3 до 6 лет,"Machine Learning, ML, Data Science, DS, Машинн...",100000,150000
356,Lead data scientist (Анализ цены и Trade in),Москва,От 3 до 6 лет,"PyData: Pandas, NumPy, SciPy, scikit-learn, py...",180000,200000

Вакансии в Москве, без опыта работы

In [44]:
df[(df['address'] == 'Москва') & (df['experience'] == 'Нет опыта')]

,name,address,experience,skills,sal_from,sal_to
2,ML-инженер,Москва,Нет опыта,"Знания математики, алгоритмов, структур данных...",150000,170000
15,Стажер ML-инженер,Москва,Нет опыта,"Знание основ SQL, Базовое знание Python, Знани...",280000,300000
17,Стажер Data analyst,Москва,Нет опыта,"Писать SQL-запросы (у нас Greenplum), Анализир...",55000,55000
20,Стажёр - Дата аналитик,Москва,Нет опыта,"Обучение и развитие, Аналитика, Системное мышл...",150000,180000
34,Solution engineer (Junior),Москва,Нет опыта,"Python, SQL, bash",100000,120000
39,Стажёр - Data Scientist,Москва,Нет опыта,"Обучение и развитие, Аналитика, Системное мышл...",200000,250000
72,Lead Data Scientist,Москва,Нет опыта,ML,180000,230000
83,"Machine learning engineer, Middle/Senior",Москва,Нет опыта,"Linux, Git, Bash, Docker",180000,190000

Вакансии в Москве или Казани, с опытом от 3 до 6 лет и зарплатой от 200000

In [55]:
df[((df['address'] == 'Москва') | (df['address'] == 'Казань')) 
   & (df['experience'] == 'От 3 до 6 лет') 
   & (df['sal_from'] >= 200000)]

,name,address,experience,skills,sal_from,sal_to
5,Data Scientist (NLP),Москва,От 3 до 6 лет,"Python, NLP, Artificial intelligence, Искусств...",200000,400000
9,Senior Machine Learning Engineer,Москва,От 3 до 6 лет,"Machine Learning, Python, numpy, pandas, matpl...",350000,570000
10,Computer vision инженер,Москва,От 3 до 6 лет,"Опыт в компьютерном зрении от 3 лет, Уверенные...",200000,300000
11,Data Scientist,Москва,От 3 до 6 лет,"Python, SQL, Обучение и развитие, Машинное обу...",270000,300000
16,ML специалист,Москва,От 3 до 6 лет,"Pytorch, TensorFlow, OpenVino, OpenCV, Pandas,...",200000,200000
25,Machine learning engineer,Москва,От 3 до 6 лет,Хорошие навыки разработки на Python,270000,350000
58,Аналитик-разработчик,Москва,От 3 до 6 лет,"Python, LLM, Speech",270000,300000
71,Data Scientist middle/senior,Москва,От 3 до 6 лет,"Python, Hadoop, Big Data, Machine Learning",210000,260000
86,Аналитик данных,Москва,От 3 до 6 лет,"Python, SQL, Математическая статистика, Big Da...",270000,320000
108,Senior Data Science,Москва,От 3 до 6 лет,Уметь выкладывать свой код в кластер кубернете...,200000,300000
111,Дата-инженер (Motion Prediction),Москва,От 3 до 6 лет,"Python, Spark, Dagster, S3, Kafka, Kubernetes",280000,310000
119,Data Scientist,Казань,От 3 до 6 лет,"Опыт Python разработчика (pytorch, opencv), зн...",300000,330000
128,Data Scientist в команду аукциона,Москва,От 3 до 6 лет,"Python, Big Data, Математическая статистика, М...",210000,310000
129,Архитектор данных,Москва,От 3 до 6 лет,"Базы данных, Моделирование бизнес процессов, М...",280000,330000
133,Data Scientist,Москва,От 3 до 6 лет,Уверенное владение Python. Опыт работы с библи...,280000,330000
152,Machine Learning Engineer,Москва,От 3 до 6 лет,"Python, Machine Learning, Linux",200000,220000
157,Team-Lead Data Science,Москва,От 3 до 6 лет,"Python, Docker, Kubernetes, RESTAPI",300000,350000
167,Data Scientist,Москва,От 3 до 6 лет,"pandas, TensorFlow, PyTorch, Scikit-learn",210000,280000
196,"Data Scientist, Ранжирование поиска",Москва,От 3 до 6 лет,"Python, data science, Разработка поисковых тех...",270000,290000
207,ML&Optimization engineer,Москва,От 3 до 6 лет,ML и DL (Python),300000,350000
210,Data Engineer (Perception),Москва,От 3 до 6 лет,"Python, Spark, Dagster, S3, Kafka, Kubernetes",280000,290000
212,Data scientist TTS (Text To Speech),Москва,От 3 до 6 лет,"TTS, Text to speach, NumPy, Matplotlib, pandas...",200000,300000
237,Разработчик ETL,Москва,От 3 до 6 лет,"SAP BusinessObject, SAP DataIntegrator, MS SQL...",200000,230000
240,Machine Learning / Computer Vision Engineer,Москва,От 3 до 6 лет,"Python, PyTorch, Machine Learning, Deep Learni...",210000,260000
244,Senior/Lead Data Scientist,Москва,От 3 до 6 лет,"Python, classic ML, Data Science, SQL, Airflow...",270000,300000
254,Lead Data Engineer,Москва,От 3 до 6 лет,"Greenplum (Arenadata DB), PostgreSQL, Clickhouse",300000,320000
255,Data Scientist,Москва,От 3 до 6 лет,"Python, SQL, MS SQL, ORACLE, PostgreSQL, Git, ...",200000,250000
256,Teamlead Data Science,Москва,От 3 до 6 лет,"Python, Big Data, Kubernetes, FastAPI, Pytorch...",280000,290000
257,Senior Data scientist,Москва,От 3 до 6 лет,"Python ML stack, Python NLP stack, JupyterLab",270000,370000
263,Data Scienti​​​​​​​st,Москва,От 3 до 6 лет,"Python, jupyter, pycharm, sql, pyspark, sparkM...",210000,260000
265,Data Scientist (Scoring),Москва,От 3 до 6 лет,Опыт построения моделей с помощью классическог...,300000,310000
270,"ML Data Scientist (Middle, Senior)",Москва,От 3 до 6 лет,"Python, Machine Learning, Bokeh, Plotly, SQL",270000,320000
274,Data scientist,Москва,От 3 до 6 лет,"SQL, ML",270000,340000
277,Senior Data инженер в команду Data Финансовой ...,Москва,От 3 до 6 лет,"Python, Scala",280000,300000
280,Lead Data Engineer,Москва,От 3 до 6 лет,"Python, PL/pgSQL и SQL",200000,210000
281,ML Engineer,Москва,От 3 до 6 лет,"Python, Docker, SCALA, Hadoop, Big Data, Spark...",300000,350000
287,Computer Vision engineer (Team lead),Москва,От 3 до 6 лет,"Python, Linux, OpenCV, PyTorch, Computer Vision",280000,330000
294,Data Scientist,Москва,От 3 до 6 лет,"Scikit-learn, TensorFlow, XGBoost, CatBoost",300000,370000
302,Team Lead Data Scientist (RecSys),Казань,От 3 до 6 лет,"Machine learning, Data science, RecSys",270000,300000
303,Руководитель группы машинного обучения,Москва,От 3 до 6 лет,"Python, Управление командой",300000,370000
307,Data Scientist,Москва,От 3 до 6 лет,"Python, SQL",210000,310000
320,Senior MLE/DS в команду рекомендаций,Москва,От 3 до 6 лет,"ML (GBDT, LR), Kotlin",300000,500000
323,Middle NLP Data Scientist (LLM),Москва,От 3 до 6 лет,"Аналитическое мышление, Аналитические исследов...",200000,210000
328,Senior NLP Engineer,Москва,От 3 до 6 лет,"Transformers, GPT, LLMs, BERT, T5, чат-боты, f...",270000,340000
332,NLP engineer,Москва,От 3 до 6 лет,"Python, PostgreSQL, nlp, MATLAB, Анализ данных...",210000,260000
338,Middle NLP Data Scientist (LLM),Москва,От 3 до 6 лет,"Аналитическое мышление, Аналитические исследов...",280000,310000
342,Machine Learning Lead engineer,Москва,От 3 до 6 лет,"Machine Learning, ML, C#",270000,280000
349,Руководитель направления Data Science,Москва,От 3 до 6 лет,"Python, SQL",280000,350000
351,Data Scientist Teamlead NLP,Москва,От 3 до 6 лет,"SQL, Python, PyTorch, Docker, Hadoop, DVC, git",200000,270000

Подсчет строк после фильтрации через .shape

In [56]:
df[((df['address'] == 'Москва') | (df['address'] == 'Казань')) 
   & (df['experience'] == 'От 3 до 6 лет') 
   & (df['sal_from'] >= 200000)].shape

(49, 6)

Сортировка данных

По одному условию

`датафрейм.sort_values('столбец')` – сортировка по одному столбцу (от наименьшего к наибольшему)
<br>`датафрейм.sort_values('столбец', ascending=False)` – сортировка по одному столбцу (от наибольшего к наименьшему)

In [59]:
df.sort_values('sal_from')

,name,address,experience,skills,sal_from,sal_to
275,Специалист в группу технического сопровождения,Новосибирск,От 1 года до 3 лет,"MS SQL, PostgreSQL, API, Базы данных, Техничес...",45000,145000
0,Начинающий специалист по работе с нейросетям,Санкт-Петербург,От 1 года до 3 лет,"Разработка технических заданий, Python, Сбор и...",55000,60000
289,Senior NLP Researcher,Казань,От 3 до 6 лет,"PyTorch, TensorFlow, Transformers, T5, Bert, H...",55000,125000
217,Data Scientist (Deep Learning for Demand Forec...,Санкт-Петербург,От 3 до 6 лет,"Deep Learning, Прогнозирование, Time Series",55000,105000
55,Data Scientist,Казань,От 3 до 6 лет,Python,55000,85000
...,...,...,...,...,...,...
119,Data Scientist,Казань,От 3 до 6 лет,"Опыт Python разработчика (pytorch, opencv), зн...",300000,330000
118,Data Scientist (middle),Сочи,От 1 года до 3 лет,"Python, SQL, API",300000,370000
192,Senior Data Scientist,Москва,От 1 года до 3 лет,"SQL, MS SQL, Big Data, Python, Spark, Hadoop, ...",300000,350000
204,Senior Data Scientist,Екатеринбург,От 3 до 6 лет,"Python, SQL, Spark, Базы данных, PHP, ClickHou...",330000,450000
9,Senior Machine Learning Engineer,Москва,От 3 до 6 лет,"Machine Learning, Python, numpy, pandas, matpl...",350000,570000

In [60]:
df.sort_values('sal_from', ascending=False)

,name,address,experience,skills,sal_from,sal_to
9,Senior Machine Learning Engineer,Москва,От 3 до 6 лет,"Machine Learning, Python, numpy, pandas, matpl...",350000,570000
204,Senior Data Scientist,Екатеринбург,От 3 до 6 лет,"Python, SQL, Spark, Базы данных, PHP, ClickHou...",330000,450000
49,"ML разработчик, B2B",Московская область,От 3 до 6 лет,"Python, Pyspark, Финансы, IT",300000,320000
119,Data Scientist,Казань,От 3 до 6 лет,"Опыт Python разработчика (pytorch, opencv), зн...",300000,330000
305,Стажер - разработчик скоринговых карт,Санкт-Петербург,Нет опыта,"SQL, Python, Базы данных, Скоринговая карта, Б...",300000,370000
...,...,...,...,...,...,...
60,Data Scientist,Тюмень,От 1 года до 3 лет,"sklearn, scipy, pytorch, Git, Docker",55000,105000
186,Data Engineer,Новосибирск,От 3 до 6 лет,"SQL, Python, Airflow, ORACLE, Postgres, Git, C...",55000,65000
217,Data Scientist (Deep Learning for Demand Forec...,Санкт-Петербург,От 3 до 6 лет,"Deep Learning, Прогнозирование, Time Series",55000,105000
0,Начинающий специалист по работе с нейросетям,Санкт-Петербург,От 1 года до 3 лет,"Разработка технических заданий, Python, Сбор и...",55000,60000
275,Специалист в группу технического сопровождения,Новосибирск,От 1 года до 3 лет,"MS SQL, PostgreSQL, API, Базы данных, Техничес...",45000,145000

Сортировка по нескольким условиям

`датафрейм.sort_values(['столбец1', 'столбец2', ...])` – сортировка по нескольким столбцам от наименьшего к наибольшему \
`датафрейм.sort_values(['столбец1', 'столбец2', ...], ascending=False)` – сортировка по нескольким столбцам от наибольшего к наименьшему \
`датафрейм.sort_values(['столбец1', 'столбец2'], ascending=[False, True])` – сортировка сначала по первому столбцу от наибольшего к наименьшему, затем по второму столбцу от наименьшего к наибольшему <br>Сортировка слева направо

In [61]:
df.sort_values(['sal_from', 'sal_to'])

,name,address,experience,skills,sal_from,sal_to
275,Специалист в группу технического сопровождения,Новосибирск,От 1 года до 3 лет,"MS SQL, PostgreSQL, API, Базы данных, Техничес...",45000,145000
17,Стажер Data analyst,Москва,Нет опыта,"Писать SQL-запросы (у нас Greenplum), Анализир...",55000,55000
0,Начинающий специалист по работе с нейросетям,Санкт-Петербург,От 1 года до 3 лет,"Разработка технических заданий, Python, Сбор и...",55000,60000
186,Data Engineer,Новосибирск,От 3 до 6 лет,"SQL, Python, Airflow, ORACLE, Postgres, Git, C...",55000,65000
55,Data Scientist,Казань,От 3 до 6 лет,Python,55000,85000
...,...,...,...,...,...,...
305,Стажер - разработчик скоринговых карт,Санкт-Петербург,Нет опыта,"SQL, Python, Базы данных, Скоринговая карта, Б...",300000,370000
333,Senior Data science expert в Центр технологий ИИ,Новосибирск,От 3 до 6 лет,"Python, SQL, алгоритмы ML, Pandas, Sklearn, Nu...",300000,400000
320,Senior MLE/DS в команду рекомендаций,Москва,От 3 до 6 лет,"ML (GBDT, LR), Kotlin",300000,500000
204,Senior Data Scientist,Екатеринбург,От 3 до 6 лет,"Python, SQL, Spark, Базы данных, PHP, ClickHou...",330000,450000
9,Senior Machine Learning Engineer,Москва,От 3 до 6 лет,"Machine Learning, Python, numpy, pandas, matpl...",350000,570000

In [62]:
df.sort_values(['sal_from', 'sal_to'], ascending=False)

,name,address,experience,skills,sal_from,sal_to
9,Senior Machine Learning Engineer,Москва,От 3 до 6 лет,"Machine Learning, Python, numpy, pandas, matpl...",350000,570000
204,Senior Data Scientist,Екатеринбург,От 3 до 6 лет,"Python, SQL, Spark, Базы данных, PHP, ClickHou...",330000,450000
320,Senior MLE/DS в команду рекомендаций,Москва,От 3 до 6 лет,"ML (GBDT, LR), Kotlin",300000,500000
333,Senior Data science expert в Центр технологий ИИ,Новосибирск,От 3 до 6 лет,"Python, SQL, алгоритмы ML, Pandas, Sklearn, Nu...",300000,400000
79,Data Scientist,Томск,От 3 до 6 лет,"Spark, Hive, MLFlow, ML, AirFlow, MLOps, Forec...",300000,370000
...,...,...,...,...,...,...
55,Data Scientist,Казань,От 3 до 6 лет,Python,55000,85000
186,Data Engineer,Новосибирск,От 3 до 6 лет,"SQL, Python, Airflow, ORACLE, Postgres, Git, C...",55000,65000
0,Начинающий специалист по работе с нейросетям,Санкт-Петербург,От 1 года до 3 лет,"Разработка технических заданий, Python, Сбор и...",55000,60000
17,Стажер Data analyst,Москва,Нет опыта,"Писать SQL-запросы (у нас Greenplum), Анализир...",55000,55000
275,Специалист в группу технического сопровождения,Новосибирск,От 1 года до 3 лет,"MS SQL, PostgreSQL, API, Базы данных, Техничес...",45000,145000

In [63]:
df.sort_values(['sal_from', 'sal_to'], ascending=[False, True])

,name,address,experience,skills,sal_from,sal_to
9,Senior Machine Learning Engineer,Москва,От 3 до 6 лет,"Machine Learning, Python, numpy, pandas, matpl...",350000,570000
204,Senior Data Scientist,Екатеринбург,От 3 до 6 лет,"Python, SQL, Spark, Базы данных, PHP, ClickHou...",330000,450000
42,Эксперт по моделированию и анализу данных / Da...,Москва,От 1 года до 3 лет,"SQL, Git, Python, Анализ данных, Моделирование",300000,310000
171,Data Engineer,Москва,От 1 года до 3 лет,"Scala / Python Hadoop (hdfs, hive) Apache Spar...",300000,310000
208,Middle Computer Vision Engineer,Москва,От 1 года до 3 лет,"NumPy, Pandas, OpenCV, Sklearn, Matplotlib, CI/CD",300000,310000
...,...,...,...,...,...,...
60,Data Scientist,Тюмень,От 1 года до 3 лет,"sklearn, scipy, pytorch, Git, Docker",55000,105000
217,Data Scientist (Deep Learning for Demand Forec...,Санкт-Петербург,От 3 до 6 лет,"Deep Learning, Прогнозирование, Time Series",55000,105000
355,Ведущий специалист по разработке скоринговых карт,Новосибирск,От 1 года до 3 лет,"SQL, Sas, Базы данных, Скоринговая карта, База...",55000,105000
289,Senior NLP Researcher,Казань,От 3 до 6 лет,"PyTorch, TensorFlow, Transformers, T5, Bert, H...",55000,125000
275,Специалист в группу технического сопровождения,Новосибирск,От 1 года до 3 лет,"MS SQL, PostgreSQL, API, Базы данных, Техничес...",45000,145000